# C++
*.o
*.out
*.exe
*.obj
*.gch
*.stackdump

# Python/SageMath (Jupyter)
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# LaTeX
*.aux
*.log
*.toc
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.lof
*.lot
*.bbl
*.blg

# OS-specific
.DS_Store
Thumbs.db

# Editor/IDE configs
.vscode/
.idea/
*.swp
*.swo
*~

# Git
*.orig
